{% load static %}
<footer class="page-footer blue darken-4">
        <div class="container">
          <div class="row ">
            <div class="col l6 s12 m6">
				<img  class="footer-img" src="{% static 'images/modellogo1.jpeg' %}" alt="">
            </div>
            <div class="col l4 offset-l2 s12 m6">
              <h4 class="white-text">Contact Us </h4>
              <ul>
                <li class="grey-text text-lighten-3"><i class="fa fa-instagram"></i> instagram : @modelxposedmngt</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-facebook-square"></i> facebook : @modelxposedmngt</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-twitter-square"></i> Twitter : @modelxposedmngt</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-envelope"></i> Gmail : modelxposed@gmail.com</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-phone"></i> Phone number : 08079913324</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright indigo darken-4" id="contact">
          <div class="container">
            <div class="row">
              <div class="col m6 s12 l6">
                © 2018 Xposed modeling agency Copyright Text
              </div>
              <div class="col m6 s12 l6">

                <a class="grey-text text-lighten-4 right" href="#!">Gallery</a>
                <a class="grey-text text-lighten-4 right" href="#!">contact</a>
                <a class="grey-text text-lighten-4 right" href="#!">About</a>
                <a class="grey-text text-lighten-4 right" href="#!">Home</a>
              </div>
            </div>
          </div>
        </div>
      </footer>