{% extends "base2.html" %}
{% load static %}


{% block body %}
    {% block navbar %}
        {% include "includes/navbar.html" %}
    {% endblock navbar %}
    {% block content %}
    <div class="container">
      <div style="height:40px"></div>
        <div class="row">
            <div class="col m6" style="margin-top:30px">
                <img class="detail-img" src="{{xmodels.profile_photo.url}}" alt="" >
                
            </div>
            <div class="col m6" style="margin-top:40px">
                <ul>
                    <li>
                        <h4 class="flow-text">Name : {{ xmodels.fullname }}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Heigth : {{ xmodels.height }} inches</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Weight : {{ xmodels.weight }} kg</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Bust : {{ xmodels.bust }}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Waist : {{ xmodels.waist }}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Hips : {{ xmodels.hips }}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Shoe size : {{ xmodels.shoes_size }}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Hair color : {{ xmodels.hair_color}}</h4>
                    </li>
                    <li>
                        <h4 class = "flow-text">Eyes color : {{ xmodels.eyes_color}}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        
    {% endblock content %}
    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock footer %}
{% endblock body %}
    <h1>this is a detail page</h1>
</body>
</html>